@model WeddingChecklistNew.Models.ChecklistMain
@{
    ViewBag.Title = "Create";
}
<div class="card card-body col-md-6">
    <form  @Html.Raw("action='/ChecklistMains/Create'")  enctype="multipart/form-data" id="ChecklistForm" method="post"  class="form-horizontal col-md-12" >
        <div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Name*</label>
            <div class="col-sm-9">
                @*<input type="text" class="form-control" id="Name" name="Name">*@
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">DueDate*</label>
            <div class="col-sm-9">
                <input type="text" class="form-control datepicker" name="DueDate" value="@(DateTime.Now.ToShortDateString())" id="DueDate" placeholder="mm/dd/yyyy">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Definition</label>
            <div class="col-sm-9">
                <textarea class="form-control" name="Definition" id="Definition" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="Private" name="Private" onchange="CheckControl()" >
                    <label class="custom-control-label" for="Private">Private</label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Kaydet</button>
        <button type="button" class="btn btn-inverse waves-effect waves-light" onclick="GotoList()">Back To List</button>

    </form>
</div>
<script>
    function CheckControl() {
        if ($('#Private').is(':checked')) {
            $("#Private").val(true);
        } else {
            $("#Private").val(false);
        }
    }
    function GotoList() {
        location.href = "/CheckListMains/Index";
    }
    function Save() {
        var valid = $("#frmcheck").validate();
        debugger;
        var data = $("#frmcheck").serialize();
        $.ajax({
            type: "POST",
            url: "/ChecklistMains/Create",
            data:data,
            success: function (data) {
                if (data.ResultType == 1) {
                    toastr.success(data.Message);
                } else {
                    toastr.success(data.Message);
                }
                setTimeout(function () {
                    location.href = "/CheckListMains/Index";
                }, 2000);
            },
            error: function (xhr, textStatus, errorThrown) {
                toastr.error(xhr.responseText)
            }
        });
    }
</script>