<head>
    <link href="~/Content/eliteadmin/dist/css/pages/login-register-lock.css" rel="stylesheet" />
</head>


<body class="skin-default card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader" style="display: none;">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Wedding Checklist</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="ChangePassword">
                        <h3 class="box-title m-b-20">Change Password</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" placeholder="Old Password"  type="password" name="OldPassword" required data-req="password is Required" value="" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" placeholder="New Password"  type="password" name="NewPassword" required data-req="new password is Required" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" placeholder="Confirm Password"  type="password" name="ConfirmPassword" required data-req="confirm password is Required" value="" />
                            </div>
                        </div>
                        <div class="form-group text-center p-b-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit" onclick="Save()">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        function getCookie(name) {
            var re = new RegExp(name + "=([^;]+)");
            var value = re.exec(document.cookie);
            return (value != null) ? unescape(value[1]) : null;
        }

        function Save() {
            var token = getCookie("token");
            
            $("#ChangePassword").validate({
                rules: {
                    OldPassword: "required",
                    NewPassword: "required",
                    ConfirmPassword: "required"
                },
                messages: {
                    required: 'Please enter valid value'
                },
                showErrors: function (errorMap, errorList) {
                    this.defaultShowErrors();
                },
                submitHandler: function () {
                    var model = $("#ChangePassword").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/api/Account/ChangePassword",
                        data: model,
                        headers: { "Authorization": "Bearer " + token },
                        success: function (data) {
                            toastr.success("done!");
                            location.href = "/Account/Logout";
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log(xhr.responseText);
                            toastr.error(xhr.responseText)
                        }
                    });
                }
            });
        }

    </script>


</body>




@*@{
        ViewBag.Title = "Change Password";
    }
    <h2>Change Password</h2>
    <div class="row form-horizontal">

        <form id="ChangePassword">
            <div class="form-group">
                <label class="col-md-2 control-label">Old Password</label>
                <div class="col-md-10">
                    <input type="password" name="OldPassword" required data-req="password is Required" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">New Password</label>
                <div class="col-md-10">
                    <input type="password" name="NewPassword" required data-req="new password is Required" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Confirm Password</label>
                <div class="col-md-10">
                    <input type="password" name="ConfirmPassword" required data-req="confirm password is Required" value="" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" onclick="Save()" class="btn btn-success" value="Change Password" />
                </div>
            </div>
        </form>

    </div>
    <script>
        function Save() {
            $("#ChangePassword").validate({
                rules: {
                    OldPassword: "required",
                    NewPassword : "required",
                    ConfirmPassword : "required"
                },
                messages: {
                    required: 'Please enter valid value'
                },
                showErrors: function (errorMap, errorList) {
                    this.defaultShowErrors();
                },
                submitHandler: function () {
                    var model = $("#ChangePassword").serialize();
                        $.ajax({
                            type: "POST",
                            url: "/api/Account/ChangePassword",
                            data: model,
                            headers: { "Authorization": "Bearer " + $.parseJSON(localStorage.getItem('Token')).access_token},
                            success: function (data) {
                                toastr.success("done!");
                                location.href = "/Home/Index";
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                toastr.error(xhr.responseText)
                            }
                        });
                }
            });
        }
    </script>*@


