
@{
    ViewBag.Title = "Forgot Password Email";
}
<h2>Forgot Password Email</h2>
<div class="row form-horizontal">
    <form id="resetpassword">
        <div class="form-group">
            <label class="col-md-2 control-label">New Password</label>
            <div class="col-md-10">
                <input type="password" name="newpassword" required data-req="new password is Required" value="" id="newpassword" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Confirm Password</label>
            <div class="col-md-10">
                <input type="password" name="confirmpassword" required data-req="confirm password is Required" value="" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" onclick="Save()" class="btn btn-success" value="Change Password" />
            </div>
        </div>
    </form>

</div>
<script>
    function Save() {
        $("#resetpassword").validate({
            rules: {
                NewPassword : "required",
                ConfirmPassword : "required"
            },
            messages: {
                required: 'Please enter valid value'
            },
            showErrors: function (errorMap, errorList) {
                this.defaultShowErrors();
            },
            submitHandler: function () {
                var urlParams = new URLSearchParams(location.search);
                console.log(decodeURIComponent(urlParams.get('code')));
                $.ajax({
                    type: "POST",
                    url: "/api/Account/ResetPassword",
                    data: { userid: urlParams.get('userid'), code: (decodeURIComponent(urlParams.get('code'))), newpassword: $("#newpassword").val(), confirmpassword: $("#confirmpassword").val()},
                    success: function (data) {
                        toastr.success("done!");
                        location.href = "/Home/Index";
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        toastr.error(xhr.responseText)
                    }
                });
            }
        });
    }

</script>





