
@{
    ViewBag.Title = "Forgot Password Email";
}
    <head>
        <link href="~/Content/eliteadmin/dist/css/pages/login-register-lock.css" rel="stylesheet" />
    </head>
    <body class="skin-default card-no-border">
        <div class="preloader" style="display: none;">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Wedding Checklist</p>
            </div>
        </div>
        <section id="wrapper">
            <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
                <div class="login-box card">
                    <div class="card-body">
                        <form class="form-horizontal form-material" id="LoginFormId" action="index.html">
                            <h3 class="box-title m-b-20">Forget Password </h3>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" name="newpassword" required data-req="new password is Required" id="newpassword" placeholder="New Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" name="confirmpassword" required data-req="confirm password is Required" id="confirmpassword" placeholder="Confirm Password">

                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12 p-b-20">
                                    <input type="submit" onclick="Save()" class="btn btn-success" value="Change Password" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
        @*<div class="row form-horizontal">
            <form id="resetpassword">
                <div class="form-group">
                    <label class="col-md-2 control-label">New Password</label>
                    <div class="col-md-10">
                        <input type="password" name="newpassword" required data-req="new password is Required" value="" id="newpassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Confirm Password</label>
                    <div class="col-md-10">
                        <input type="password" name="confirmpassword" required data-req="confirm password is Required" value="" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" onclick="Save()" class="btn btn-success" value="Change Password" />
                    </div>
                </div>
            </form>

        </div>*@
        <script>
            function Save() {
                $("#resetpassword").validate({
                    rules: {
                        NewPassword: "required",
                        ConfirmPassword: "required"
                    },
                    messages: {
                        required: 'Please enter valid value'
                    },
                    showErrors: function (errorMap, errorList) {
                        this.defaultShowErrors();
                    },
                    submitHandler: function () {
                        var urlParams = new URLSearchParams(location.search);
                        var codestr = decodeURIComponent(urlParams.get('code'));
                        $.ajax({
                            type: "POST",
                            url: "/api/Account/ResetPassword",
                            data: { userid: urlParams.get('userid'), code: codestr, newpassword: $("#newpassword").val(), confirmpassword: $("#confirmpassword").val() },
                            success: function (data) {
                                toastr.success("done!");
                                location.href = "/Home/Index";
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                toastr.error(xhr.responseText)
                            }
                        });
                    }
                });
            }

        </script>





