<head>
    <link href="~/Content/eliteadmin/dist/css/pages/login-register-lock.css" rel="stylesheet" />
</head>

<body class="skin-default card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader" style="display: none;">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Wedding Checklist</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="LoginFormId" action="index.html">
                        <h3 class="box-title m-b-20">Sign In</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="email" name="Email" required data-req="Email is Required" value="" id="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="Password" required data-req="password is Required" value="" id="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    @*<input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Remember me</label>*@
                                    <a href="~/Account/SendEmail" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit" onclick="Save()">Log In</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                Don't have an account? <a href="~/Account/Register" class="text-info m-l-5"><b>Sign Up</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    @*<script src="../assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
     Bootstrap tether Core JavaScript 
    <script src="../assets/node_modules/popper/popper.min.js"></script>
    <script src="../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <!--Custom JavaScript -->
    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#LoginFormId").slideUp();
            $("#recoverform").fadeIn();
        });


        function Save() {
            $("#LoginFormId").validate({
                rules: {
                    'userName': {
                        //required: true,
                        email: true
                    },
                    //'password': {
                    //    required: true 
                    //}
                },
                messages: {
                    required: 'Please enter valid value',
                    email: 'Please enter valid email'
                },
                showErrors: function (errorMap, errorList) {
                    this.defaultShowErrors();
                },
                submitHandler: function () {
                    var model = $("#LoginFormId").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/Account/Login",
                        data: model,
                        success: function (data_token) {
                            toastr.success("login success");
                            window.location.href = "/Home/Index";
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            toastr.error(errorThrown);
                        }
                    });
                }
            });
        }
    </script>



</body>




@*@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="row form-horizontal">


    <form id="LoginFormId">
        <div id="result"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="email" name="Email" required data-req="Email is Required" value="" id="email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
                <input type="password" name="Password" required data-req="password is Required" value="" id="password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" onclick="Save()" class="btn btn-success" value="Login" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Forgot Password", "SendEmail", "Account")
            </div>
        </div>
    </form>
</div>
<script>
    function Save() {
        $("#LoginFormId").validate({
            rules: {
                'userName': {
                    //required: true,
                    email: true 
                },
                //'password': {
                //    required: true 
                //}
            },
            messages: {
                required: 'Please enter valid value',
                email: 'Please enter valid email'
            },
            showErrors: function (errorMap, errorList) {
                this.defaultShowErrors();
            },
            submitHandler: function () {
                var model = $("#LoginFormId").serialize();
                $.ajax({
                        type: "POST",
                        url: "/Account/Login",
                        data: model,
                        success: function (data_token) {
                            toastr.success("login success");
                            window.location.href = "/Home/Index";
                        },
                    error: function (xhr, textStatus, errorThrown) {
                        toastr.error(errorThrown);
                        }
                 });
            }
        });
    }
</script>*@
