
@{
    ViewBag.Title = "Register";
}
<h2>Register</h2>
<div class="row form-horizontal">

    <form  id="RegisterFormId">
        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="email" name="Email" required data-req="Email is Required" value="" id="email" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
                <input type="password" name="Password" required data-req="password is Required" value="" id="password" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Confirm Password</label>
            <div class="col-md-10">
                <input type="password" name="ConfirmPassword" required data-req="confirm password is Required" value="" id="confirmpassword" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" onclick="Save()" class="btn btn-success" value="Register" />
            </div>
        </div>
    </form>

</div>
<script>
    function Save() {
        $("#RegisterFormId").validate({
            rules: {
                Password: "required",
                ConfirmPassword : "required",
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                required: 'Please enter valid value',
                email: 'Please enter valid email'
            },
            showErrors: function (errorMap, errorList) {
                this.defaultShowErrors();
            },
            submitHandler: function () {
                    var model = $("#RegisterFormId").serialize();
                    console.log(model);
                    $.ajax({
                        type: "POST",
                        url: "/api/Account/Register",
                        data: model,
                        success: function (data) {
                            toastr.success("done!");
                            location.href = "/Home/Index";
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            toastr.error(xhr.responseText)
                        }
                    });
            }
        });
    }
</script>
