
<div class="masthead ">
        <div class="">
            <div class="">
                <div class="bxslider">
                    <div><img src="~/Content/Scaffold/assets/img/slides/marriage/img1.jpg" title="Funky roots"></div>
                    <div><img src="~/Content/Scaffold/assets/img/slides/marriage/img2.jpg" title="The long and winding road"></div>
                    <div><img src="~/Content/Scaffold/assets/img/slides/marriage/img3.jpg" title="Happy trees"></div>
                    <div><img src="~/Content/Scaffold/assets/img/slides/marriage/img4.jpg" title="Happy trees"></div>
                </div>
            </div>
        </div>
</div>
<script>
    $(document).ready(function () {
        //$('.bxslider').bxSlider();

        var bxSlider = $('.bxslider').bxSlider({
            auto: true,
            mode: 'fade'
        });

        $(window).resize(function () {
            console.log('rs');
            bxSlider.reloadSlider();
        });
    });
</script>
