<div class="row" id="sliderpartial"></div>
<div class="row" id="widgetpartial"></div>
<script>
    $(function () {
        $("#sliderpartial").load("/Home/GetSlider");
        $("#widgetpartial").load("/Home/GetWidget");
    });
</script>


