<div class="row" id="sliderpartial"></div>
<div class="row" id="widgetpartial"></div>
<div class="row" id="commentpartial"></div>
<script>
    $(function () {
        $("#sliderpartial").load("/Home/GetSlider");
        $("#widgetpartial").load("/Home/GetWidget");
        $("#commentpartial").load("/Home/CommentView");
    });

    

</script>


