
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.m-t-30{
margin-top:30px !important;
}
.m-t-50{
margin-top:50px !important;
}
.p30{
    padding:30px;
}
.p50{
    padding:50px!important;
}
.card {
    flex-direction:row !important;
}
.mt20{
    margin-top:20px;
}
.footer{
    margin-left:0px !important;
}
.commentdeletebutton{
    color:red !important;
}