
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>You can create weddinglist easily and you can share with your friends and family.&nbsp;</p>
<p>You can access other couples weddinglists and you can get advise from them.</p>
<p>You can give priority for your items and share them with your friends.</p>
<p>You can monitor which brand is popular for other couples.</p>
<p>You can create private weddinglist for yourself and nobody can access these lists.</p>
<p>There is no limit, you can create many weddinglists and share them with your friends and family.</p>
<p>You can investigate other countries weddinglists.&nbsp;</p>
<p>You can check sample weddinglists, it will help creating your own list.</p>
<p>You can also compare product prices and you can access product easily from url.</p>
<p>You can export your list to pdf,word easily.</p>
<p>We will integrate<strong> instagram </strong>and <strong>facebook</strong> soon. You will share your lists in facebook and instagram easily.</p>
<p>We will create <strong>demo videos</strong> soon. It will help you about using createweddinglist.com</p>
<p><strong>createweddinglist.com</strong> provides you create weddinglist easily and share it with your family and friends.</p>
<p><strong>Please join createweddinglist.com</strong></p>
<p><strong>if you have any feedback, please contact with us.&nbsp;<strong>info@createweddinglist.com</strong></strong></p>

