
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>About</h2>
<p>You can create weddinglist easily and you can share with your friends and family.&nbsp;</p>
<p>You can access other couples weddinglists and you can get advise from them.</p>
<p>You can give priority for your items and share them with your friends.</p>
<p>You can monitor which brand is popular for other couples.</p>
<p>You can create private weddinglist for yourself and nobody can access these lists.</p>
<p>There is no limit, you can create many weddinglists and share them with your friends and family.</p>
<p>You can investigate other countries weddinglists.&nbsp;</p>
<p>You can check sample weddinglists, it will help creating your own list.</p>
<p>You can also compare product prices and you can access product easily from url.</p>
<p>You can export your list to pdf,word easily.</p>
<p>We will integrate<strong> instagram </strong>and <strong>facebook</strong> soon. You will share your lists in facebook and instagram easily.</p>
<p>We will create <strong>demo videos</strong> soon. It will help you about using createweddinglist.com</p>
<p><strong>createweddinglist.com</strong> provides you create weddinglist easily and share it with your family and friends.</p>
<p><strong>Please join createweddinglist.com</strong></p>
<p><strong>if you have any feedback, please contact with us.&nbsp;<strong>info@createweddinglist.com</strong></strong></p>*@

    <div class="row">
      
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">About</h4>
                    <hr>
                    <p><strong>createweddinglist.com</strong> provides you create weddinglist easily and share it with your family and friends.</p>
                    <p><strong>Please join createweddinglist.com</strong></p>
                    <p><strong>if you have any feedback, please contact with us.&nbsp;<strong>info@createweddinglist.com</strong></strong></p>
                    <div class="p-4 border shadow-sm rounded">
                        <h4 class="card-title">You can</h4>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 border-right">
                                <ul class="list-style-none">
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i> You can create weddinglist easily and you can share with your friends and family.</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i> You can access other couples weddinglists and you can get advise from them.</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i> You can give priority for your items and share them with your friends.</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i> You can monitor which brand is popular for other couples.</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i> You can create private weddinglist for yourself and nobody can access these lists.</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i> There is no limit, you can create many weddinglists and share them with your friends and family.</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i> You can investigate other countries weddinglists.</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i> You can check sample weddinglists, it will help creating your own list.</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i> You can also compare product prices and you can access product easily from url.</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i>You can export your list to pdf,word easily.</span>
                                    </li>
                                    <li class="my-3">
                                        <span><i class="icon-pencil mr-2 text-success"></i>We will integrate<strong> instagram </strong>and <strong>facebook</strong> soon. You will share your lists in facebook and instagram easily.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block align-items-center">
                        <div>
                            <h5 class="card-title m-b-0">WEDDING TO DO LIST</h5>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- To do list widgets -->
                    <!-- ============================================================== -->
                    <div class="to-do-widget m-t-20 ps ps--theme_default ps--active-y" id="todo" style="height: 320px;position: relative;" data-ps-id="4625bd89-a354-f77c-f4b1-ab4a29fe0edc">
                        <!-- .modal for add task -->
                        <!-- /.modal -->
                        <ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
                            <li class="list-group-item" data-role="task">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck">
                                        <span>Completed this list before wedding seramony</span> 
                                    </label>
                                </div>
                                <div class="item-date"> 26 jun 2017</div>

                            </li>
                            <li class="list-group-item" data-role="task">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">
                                        <span>Share this list with friends and family</span>
                                    </label>
                                </div>
                                <ul class="assignedto">
                                    <li><img src="../assets/images/users/1.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steave"></li>
                                    <li><img src="../assets/images/users/2.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Jessica"></li>
                                </ul>
                            </li>
                            <li class="list-group-item" data-role="task">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">
                                        <span>Crate a wedding list which is more needed for weeding</span> 
                                    </label>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    